*{
  list-style: none;
}
.Footer{
  background-color: #232E3E;
}
.container{
  width: 1100px;
  margin: 0 auto;
} 
.first__footer{
  height: 400px;
  display: flex;
  flex-direction: column;
}
.first__footerlink{
  display: flex;  
  flex-direction: row ;
  justify-content: space-around;
  margin-bottom: 50px;
}
.footer1__bolditem{
  font-size: 18px;
  color: rgb(233, 229, 229);
}
.footer1__box{
  list-style: none;
  margin-top: 50px;
}
.footer1__item{
  font-size: 14px;
  color: rgb(233, 229, 229);
  margin-top: 10px;
  cursor: pointer;
}
.footer1__buttons{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 40px;
}
.footer__logo{
  height: 37px;
  margin-right: 80px;
}
.footer__btn{
  padding: 8px;
  background-color: #232E3E;
  border: solid rgb(233, 229, 229) 1px;
  border-radius: 6px;
  color: rgb(233, 229, 229);
  margin-left: 10px;
  cursor: pointer;
}
.lastFooter{
  background-color: #131A22;
  width: 100%;
  padding-top: 20px;
}
li{
  margin-bottom: 10px;
}
/* .container{
  width: 65%;
  margin: 0 auto;
} */
.listsWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.listOne{
  width: 100px;
}
.link{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px; 
  color: #DDDDDD;
}
.link span{
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #999999;
  
}
.link:hover{
  text-decoration: none;
}
.madeInfoWrpper{
  width: 35%;
  margin: 0 auto;
}
.us{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.usLink{
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center; 
  color: #DDDDDD;
}
.usLink:hover{
  text-decoration: underline;
}
.info{
  width: 100%;
  padding-bottom: 25px;

}
.info p{
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;    
}

@media only screen and (max-width:1178px){
  .container{
      width: 90%;
  }
  .usLink{
      font-size: 10px;
  }
}
@media only screen and (max-width:820px){
  .link{
      display: none;
  }
  .madeInfoWrpper{
      width: 100%;
      
  }
  .us{
      justify-content: space-evenly;
  }
}